body {
  background-color: #ff0000ba;
}

#heading {
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  margin: 10px;
}

#sub-heading {
  color: white;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

#time-option,
#datePicker {
  outline: none;
  border: none;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  font-size: 25px;
  margin-left: 10px;
}

#promodoro-save-btn,
#datePicker-save-btn {
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 8px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  height: 39px;
}

#inner-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
