body {
  width: 325px;
  height: 400px;
  background-color: #ff0000ba;
}
.header {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: white;
  margin: -8px;
  padding: 5px;
}
#header-main > img {
  width: 10px;
  height: 10px;
}
.testing {
  border: 1px solid red;
  width: 100%;
  height: 100%;
}
.testing > img {
  width: 90%;
  height: 90%;
}
#time {
  text-align: center;
  font-size: 50px;
  margin: 10px;
  color: white;
  font-weight: normal;
}

#btn-container {
  display: flex;
  justify-content: space-evenly;
}

#btn-container > button {
  color: red;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  width: 95.1px;
  cursor: pointer;
}

#task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
#task-container-wrapper {
  overflow-y: auto;
  max-height: 200px;
  margin: 30px 0;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.task-delete {
  outline: none;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.task-input {
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 5px;
  padding: 5px 10px;
  width: 250px;
}
#timer-container {
  /* display: flex; */
}
#time-change-img {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 81px;
  left: 247px;
  cursor: pointer;
}

.lofi-music {
  font-weight: 900;
  font-size: 20px;
  background: linear-gradient(90deg, #e803ea, #00c3b7);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 15px;
}
